h1{
    color: black;
    text-align: center;
    background-color: aquamarine;
}
p{
    width: 300px;
    background-color: antiquewhite;
}
body{
    background-color: antiquewhite;
    background-size: cover;
    background-position: 0%;
}
img{
    width: 150px;
    height: 150px;

}